h1{
    background-color: brown;
    padding: 30px;
    text-align: center;
}
div{
    border: 3px dashed black;
    border-radius: 10px;
    padding: 20px 5px;
}
p{
    background-color: antiquewhite;
    margin: 15px 20px;
    padding: 12px;
}