
table {
    background-color: blanchedalmond;
    border-bottom-left-radius: 20px; /*아래 왼쪽 둥글게*/
    border-bottom-right-radius: 20px; /*아래 오른쪽 둥글게*/
    border-collapse: collapse;
}
.menu1 {
    background-color: orange;
    border-bottom: 1px solid brown;
    text-align: center;
}

